html, body {
   width: 100vw;
   height: 100vh;
   top: 0;
   bottom: 0;
   margin: 0px;
   padding: 0px;
   overflow: hidden; /* To make sure that scrollbars will be hidden */
}

.icons {
    margin: 3px;
    font-size: 1.5em;
}

#CanvasContainer {
    position: absolute;
}

#ui {    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ===== LEFT MENUS ===== */
#left-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 20%;
    align-self: flex-start;
}

#icons-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    justify-self: flex-end;
}

#objects-list {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-self: flex-start;
    text-align: center;
}


/* ===== MIDDLE MENUS ===== */
#mid-menu-top {
    display: block;
    flex-direction: row;
    position: absolute;
    min-width: 20%;
    margin-left: 40%;
    padding: 10px;    
    border: 1px solid red;
    align-self: flex-start;
}

#light-popup {
    text-align: center;
    display: none;
}

.color-range {
    width: 50px;
    text-align: center;
}

.horizontal-icons {
    width: 100% ;
    text-align: center;
}

#mid-menu-bottom {
    display: flex;
    position: absolute;
    width: 20%;
    margin-left: 40%;
    padding: 10px;    
    border: 1px solid white;
    align-self: flex-end;
}



 /* ===== RIGHT MENUS ===== */
#right-menu {
    display: flex;
    margin-left: 90vw;
    width: 10vw;
    height: 100vh;
    position: absolute;
    justify-self: flex-end;
    padding: 10px;
}

.popups {
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 20px;
    text-align: center;
    color: #f0f0f0;    
}

.rangeValue {
    width: 40px;
    text-align: center;
    justify-self: center;
}

.hide-button {
    margin: 20px;
    padding: 5px;
    font-size: 1.5em;

}

/* === BOTTOM NAVIGATION MENU === */

/* #bottom-menu {
    border: 1px solid greenyellow;
    position: absolute;
    align-self: center;
    justify-content: center;
    align-items: flex-end;
    display: flex;
} */